/* navigation style */
*{
    font-family: 'Open Sans', sans-serif;
}
header{
    background-color:#FFF8F3 ;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 225px;
}
h1{
    color: #181818;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
}
span{
    color: #FD6E0A;
}
nav ul{
    list-style: none;
    display: flex;
    align-items: center;

}
nav ul a{
    text-decoration: none;
}
nav ul li{
    margin-left:50px ;
}
.btn{
    background-color: #FD6E0A;
    border: none;
    font-size: 20px;
    font-weight: 700;
    color: #ffd;
    width: 150px;
    height: 65px;
    border-radius: 5px;
    cursor: pointer;
}
.banner{
    display: flex;
    justify-content: space-between;
    padding: 30px 30px 0px 150px;
    background-image: url("../images/header_bg.png"),url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right,left top;
    height: 100vh;
}
.banner .banner-title-1{
    color: #474747;
    font-size: 45px;
    font-weight: 600;
}
.banner .banner-title-2{
    color: #181818;
    font-size: 85px;
    font-weight: 700;
    margin-top:5px;
    margin-bottom: 20px;
}
.banner-discription{
    margin-bottom: 30px;
}
.banner-content{
    max-width: 500px;
}

/* about section start */

.about-section{
    background-color: #FFF8F3;
    width: 1140px;
    margin: 130px auto;
}
.about-title{
    text-align: center;
    padding-top: 130px;
    font-size: 35px;
    font-weight: 700px;
    color: #181818;
}
.about-discription{
    color: #757575;
    font-size: 18px;
    font-weight: 400px;
    margin: 30px 135px;
}
.info-conteinar{
    display: flex;
    justify-content: space-around;
    margin:0px 150px;
    padding-bottom: 130px;
}